<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>董事会</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>周董</string>
				<key>list</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>华北一区开发部</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>王美丽</string>
				<key>list</key>
				<array/>
			</dict>
			<dict>
				<key>title</key>
				<string>开发部二部</string>
				<key>list</key>
				<array>
					<dict>
						<key>title</key>
						<string>开发部二部——支部1</string>
						<key>list</key>
						<array>
							<dict>
								<key>title</key>
								<string>后台大佬</string>
								<key>list</key>
								<array/>
							</dict>
							<dict>
								<key>title</key>
								<string>前段大佬</string>
								<key>list</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>华北一区销售部</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>销售一部</string>
				<key>list</key>
				<array>
					<dict>
						<key>title</key>
						<string>一部总监黄晓明</string>
						<key>list</key>
						<array/>
					</dict>
					<dict>
						<key>title</key>
						<string>一部管理杨洋</string>
						<key>list</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>销售二部</string>
				<key>list</key>
				<array>
					<dict>
						<key>title</key>
						<string>销售二部——支部1</string>
						<key>list</key>
						<array>
							<dict>
								<key>title</key>
								<string>小五</string>
								<key>list</key>
								<array/>
							</dict>
							<dict>
								<key>title</key>
								<string>小亮</string>
								<key>list</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
